# =========================
# Ambientes virtuais
# =========================
venv/
venv310/
.env

# =========================
# Cache Python
# =========================
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Dados brutos (não versionar)
# =========================
data/
*.csv

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Arquivos compactados (não versionar)
# =========================
*.zip
*.rar
*.7z

# =========================
# Arquivos temporários
# =========================
*.tmp
